<h2>{{vm.title}}</h2>

<ul>
    <li ng-repeat="player in vm.players">
        <a ng-href="#!/player/{{player._id}}">{{player.name}} , {{player.country}}</a>
    </li>
</ul>

<from name="vm.searchForm" ng-submit="vm.searchPlayer()">
    Enter country<input type="text" name="country" ng-model="vm.country" />
    <button type="submit" class="btn-success">Search</button>
</from>
<p>Search results:</p>
<li ng-repeat="result in vm.results">
    <a href="/#!/player/{{player._id}}">{{result.name}} {{result.country}}</a>
</li>

<form name="vm.playerForm" ng-submit="vm.addPlayer()">
    <h4>Add Player</h4>
    Name: <input type="text" name="name" required ng-model="vm.name" style="color:black" /><BR />
    Country: <input type="text" name="country" required ng-model="vm.country" style="color:black" /><BR />
    Age: <input type="text" name="age" required ng-model="vm.age" style="color:black" /><BR />
    Rank: <input type="text" name="rank" required ng-model="vm.rank" style="color:black" /><BR />
    NetWorth: <input type="text" name="netWorth" required ng-model="vm.netWorth" style="color:black" /><BR />

    <button type="submit" class="btn-success">Add Player</button><BR />

</form>
<style>
    input {
        margin: 10px;
    }
</style>